@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Roboto', sans-serif;
    --h1-h2-color: rgb(238, 101, 169);
    --background-color: rgb(201, 233, 252);
    display: block;
    margin: auto;
}

a {
    text-decoration-color: black;
}

.wrapper {
    position: relative;
    margin: 15px;
    margin: 0 auto;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}
